## Examples on How To Query Data

In [1]:
import sys
import os

# Get the absolute path to the project directory
project_path = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_path not in sys.path:
    
    sys.path.append(project_path)

# Now you can import your package
from backend_app.app import *

from backend_app.sql_handler import SQLHandler
sql_handler = SQLHandler()

#### get_attendances()

In [2]:
student_id = 'A000001'
course_code = 'KKEE3153'
class_id = 10
attendances_by_student = sql_handler.get_attendances(by='student', student_id=student_id)
attendances_by_course = sql_handler.get_attendances(by='course', course_code=course_code)
attendances_by_course_student = sql_handler.get_attendances(
    by='course_student', student_id=student_id, course_code=course_code)
attendances_by_class = sql_handler.get_attendances(by='class', class_id=class_id)

by student

In [3]:
print("Attendance of Student: {}".format(student_id))
print("Attended: {}".format(len(attendances_by_student)))
for attendance in attendances_by_student:
    print(
        f"""
        Attendance ID: {attendance.id}, Student ID: {attendance.student_id},
        Course Code: {attendance.course_code}, Class ID: {attendance.class_id},
        Record Time: {attendance.record_time}, Status: {attendance.status}"""
    )

Attendance of Student: A000001
Attended: 5

        Attendance ID: 1, Student ID: A000001,
        Course Code: KKEE3153, Class ID: 1,
        Record Time: 2024-06-15 15:00:00, Status: present

        Attendance ID: 2, Student ID: A000001,
        Course Code: KKEE3163, Class ID: 2,
        Record Time: 2024-06-15 17:00:00, Status: present

        Attendance ID: 3, Student ID: A000001,
        Course Code: KKEC3113, Class ID: 3,
        Record Time: 2024-06-16 11:00:00, Status: present

        Attendance ID: 12, Student ID: A000001,
        Course Code: KKEE3143, Class ID: 7,
        Record Time: 2024-06-10 10:00:00, Status: present

        Attendance ID: 18, Student ID: A000001,
        Course Code: KKET3103, Class ID: 10,
        Record Time: 2024-06-12 10:00:00, Status: present

by course code

In [4]:
print("Attendance of Course: {}".format(course_code))
print("Attended: {}".format(len(attendances_by_course)))
for attendance in attendances_by_course:
    print(
        f"""
        Attendance ID: {attendance.id}, Student ID: {attendance.student_id},
        Course Code: {attendance.course_code}, Class ID: {attendance.class_id},
        Record Time: {attendance.record_time}, Status: {attendance.status}"""
    )

Attendance of Course: KKEE3153
Attended: 1

        Attendance ID: 1, Student ID: A000001,
        Course Code: KKEE3153, Class ID: 1,
        Record Time: 2024-06-15 15:00:00, Status: present

by student and course code

In [5]:
print("Attendance of Student: {}, Course: {}".format(student_id, course_code))
for attendance in attendances_by_course_student:
    print(
        f"""
        Attendance ID: {attendance.id}, Student ID: {attendance.student_id},
        Course Code: {attendance.course_code}, Class ID: {attendance.class_id},
        Record Time: {attendance.record_time}, Status: {attendance.status}"""
    )

Attendance of Student: A000001, Course: KKEE3153

        Attendance ID: 1, Student ID: A000001,
        Course Code: KKEE3153, Class ID: 1,
        Record Time: 2024-06-15 15:00:00, Status: present

by class id

In [6]:
print("Attendance of Class: {}".format(class_id))
for attendance in attendances_by_class:
    print(
        f"""
        Attendance ID: {attendance.id}, Student ID: {attendance.student_id},
        Course Code: {attendance.course_code}, Class ID: {attendance.class_id},
        Record Time: {attendance.record_time}, Status: {attendance.status}"""
    )

Attendance of Class: 10

        Attendance ID: 18, Student ID: A000001,
        Course Code: KKET3103, Class ID: 10,
        Record Time: 2024-06-12 10:00:00, Status: present

        Attendance ID: 19, Student ID: A000005,
        Course Code: KKET3103, Class ID: 10,
        Record Time: 2024-06-12 10:00:00, Status: present

#### get_lecturer()

In [7]:
lecturer_id = 'L000001'
lecturer = sql_handler.get_lecturer(lecturer_id)
courses = sql_handler.get_courses('lecturer', lecturer_id=lecturer_id)

In [8]:
print(
    f"""
    Lecturer ID: {lecturer.lecturer_id},
    First Name: {lecturer.first_name},
    Last Name: {lecturer.last_name},
    Phone Number: {lecturer.phone_number},
    Email: {lecturer.email},
    Embedding Type: {type(lecturer.embedding)},
    Courses: {[course.code for course in courses]}"""
)

    Lecturer ID: L000001,
    First Name: John,
    Last Name: Doe,
    Phone Number: None,
    Email: john.doe@example.com,
    Embedding Type: <class 'bytes'>,
    Courses: ['KKEE3153', 'KKEE3163', 'KKEC3113', 'KKEE3133', 'KKKQ3123', 'KKEE3123', 'KKEE3143', 'KKEC3103', 'KKKF3103', 'KKET3103', 'KKKL3183', 'KKKF3283', 'KKEE3113', 'KKEE4103', 'KKET4113']

#### get_lecturers_by_course()

In [9]:
course_code = 'KKEE3153'
lecturers_by_course = sql_handler.get_lecturers_by_course(course_code)

In [10]:
print("Lecturers on Course: {}".format(course_code))
for lecturer in lecturers_by_course:
    print(
        f"""
        Lecturer ID: {lecturer.lecturer_id},
        First Name: {lecturer.first_name},
        Last Name: {lecturer.last_name},
        Phone Number: {lecturer.phone_number},
        Email: {lecturer.email},
        Embedding Type: {type(lecturer.embedding)},
        """
    )

Lecturers on Course: KKEE3153

        Lecturer ID: L000001,
        First Name: John,
        Last Name: Doe,
        Phone Number: None,
        Email: john.doe@example.com,
        Embedding Type: <class 'bytes'>,

#### get_student()

In [11]:
student_id = 'A000001'
student = sql_handler.get_student(student_id)
courses = sql_handler.get_courses('student', student_id=student_id)

In [12]:
print(
    f"""
    Student ID: {student.student_id},
    First Name: {student.first_name},
    Last Name: {student.last_name},
    Phone Number: {student.phone_number},
    Email: {student.email},
    Embedding Type: {type(student.embedding)},
    Courses: {[course.code for course in courses]}"""
)

    Student ID: A000001,
    First Name: Michael,
    Last Name: Clark,
    Phone Number: None,
    Email: michael.clark@example.com,
    Embedding Type: <class 'bytes'>,
    Courses: ['KKEE3153', 'KKEE3163', 'KKEC3113', 'KKET3103', 'KKEE3143']

#### get_classes()

In [13]:
class_date = '2024-06-15'
student_id = 'A000001'
lecturer_id = 'L000001'
location = 'FKAB DK1'
classes_by_date = sql_handler.get_classes(by='date', date=class_date)
classes_by_student = sql_handler.get_classes(by='student', student_id=student_id)
classes_by_lecturer = sql_handler.get_classes(by='lecturer', lecturer_id=lecturer_id)
classes_by_location = sql_handler.get_classes(by='location', location=location)

by date

In [14]:
print('classes on {}'.format(class_date))
print("number of classes: {}".format(len(classes_by_date)))
for class_ in classes_by_date:
    print(
        f"""
        Class ID: {class_.class_id},
        Course Code: {class_.course_code},
        Start Time: {class_.start_time},
        End Time: {class_.end_time},
        Location: {class_.location},
        Lecturer ID: {class_.lecturer_id}
        """
    )

classes on 2024-06-15
number of classes: 5

        Class ID: 1,
        Course Code: KKEE3153,
        Start Time: 2024-06-15 15:00:00,
        End Time: 2024-06-15 16:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 2,
        Course Code: KKEE3163,
        Start Time: 2024-06-15 17:00:00,
        End Time: 2024-06-15 20:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 4,
        Course Code: KKEE3133,
        Start Time: 2024-06-15 09:00:00,
        End Time: 2024-06-15 10:00:00,
        Location: FKAB DK6,
        Lecturer ID: L000001


        Class ID: 5,
        Course Code: KKKQ3123,
        Start Time: 2024-06-15 10:00:00,
        End Time: 2024-06-15 12:00:00,
        Location: FKAB DK6,
        Lecturer ID: L000001


        Class ID: 8,
        Course Code: KKEC3103,
        Start Time: 2024-06-15 13:00:00,
        End Time: 2024-06-15 14:00:00,
        Location: FKAB DK2,
        Lecturer ID: L000001

by student

In [15]:
print("classes of {}".format(student_id))
print("number of classes: {}".format(len(classes_by_student)))
for class_ in classes_by_student:
    print(
        f"""
        Class ID: {class_.class_id},
        Course Code: {class_.course_code},
        Start Time: {class_.start_time},
        End Time: {class_.end_time},
        Location: {class_.location},
        Lecturer ID: {class_.lecturer_id}
        """
    )

classes of A000001
number of classes: 5

        Class ID: 1,
        Course Code: KKEE3153,
        Start Time: 2024-06-15 15:00:00,
        End Time: 2024-06-15 16:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 2,
        Course Code: KKEE3163,
        Start Time: 2024-06-15 17:00:00,
        End Time: 2024-06-15 20:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 3,
        Course Code: KKEC3113,
        Start Time: 2024-06-16 11:00:00,
        End Time: 2024-06-16 13:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 7,
        Course Code: KKEE3143,
        Start Time: 2024-06-10 10:00:00,
        End Time: 2024-06-10 13:00:00,
        Location: FKAB DK2,
        Lecturer ID: L000001


        Class ID: 10,
        Course Code: KKET3103,
        Start Time: 2024-06-12 10:00:00,
        End Time: 2024-06-12 13:00:00,
        Location: FKAB BS5,
        Lecturer ID: L000001

by location

In [16]:
print("classes at {}".format(location))
print("number of classes: {}".format(len(classes_by_student)))
for class_ in classes_by_location:
    print(
        f"""
        Class ID: {class_.class_id},
        Course Code: {class_.course_code},
        Start Time: {class_.start_time},
        End Time: {class_.end_time},
        Location: {class_.location},
        Lecturer ID: {class_.lecturer_id}
        """
    )

classes at FKAB DK1
number of classes: 5

        Class ID: 1,
        Course Code: KKEE3153,
        Start Time: 2024-06-15 15:00:00,
        End Time: 2024-06-15 16:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 2,
        Course Code: KKEE3163,
        Start Time: 2024-06-15 17:00:00,
        End Time: 2024-06-15 20:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001


        Class ID: 3,
        Course Code: KKEC3113,
        Start Time: 2024-06-16 11:00:00,
        End Time: 2024-06-16 13:00:00,
        Location: FKAB DK1,
        Lecturer ID: L000001

#### get_courses()

In [17]:
student_id = 'A000001'
lecturer_id = 'L000001'
date = '2024-06-15'
courses_by_student = sql_handler.get_courses(by='student', student_id=student_id)
courses_by_lecturer = sql_handler.get_courses(by='lecturer', lecturer_id=lecturer_id)
courses_by_date = sql_handler.get_courses(by='date', date=date)

In [18]:
print('Courses Registered by Student: {}'.format(student_id))
print(f"Courses: {[course.code for course in courses_by_student]}\n")

print('Courses Taught by Lecturer: {}'.format(lecturer_id))
print(f"Courses: {[course.code for course in courses_by_lecturer]}\n")

print('Courses on {}'.format(date))
print(f"Courses: {[course.code for course in courses_by_lecturer]}")

Courses Registered by Student: A000001
Courses: ['KKEE3153', 'KKEE3163', 'KKEC3113', 'KKET3103', 'KKEE3143']

Courses Taught by Lecturer: L000001
Courses: ['KKEE3153', 'KKEE3163', 'KKEC3113', 'KKEE3133', 'KKKQ3123', 'KKEE3123', 'KKEE3143', 'KKEC3103', 'KKKF3103', 'KKET3103', 'KKKL3183', 'KKKF3283', 'KKEE3113', 'KKEE4103', 'KKET4113']

Courses on 2024-06-15
Courses: ['KKEE3153', 'KKEE3163', 'KKEC3113', 'KKEE3133', 'KKKQ3123', 'KKEE3123', 'KKEE3143', 'KKEC3103', 'KKKF3103', 'KKET3103', 'KKKL3183', 'KKKF3283', 'KKEE3113', 'KKEE4103', 'KKET4113']

#### get_device()

In [19]:
location = 'demo_1'
ip = '0.0.0.1'
devices = sql_handler.get_device(all=True)
device_by_location = sql_handler.get_device(by='location', location=location)
device_by_ip = sql_handler.get_device(by='ip', ip=ip)

In [20]:
print("Search Attendance Device by location: {}".format(location))
for device in device_by_location:
    print("Device IP: {}, Port: {}, Location: {}\n".format(device.ip, device.port, device.location))

print("Search Attendance Device by IP: {}".format(ip))
for device in device_by_ip:
    print("Device IP: {}, Port: {}, Location: {}".format(device.ip, device.port, device.location))

Search Attendance Device by location: demo_1
Device IP: 0.0.0.1, Port: 80, Location: demo_1

Search Attendance Device by IP: 0.0.0.1
Device IP: 0.0.0.1, Port: 80, Location: demo_1

In [23]:
print("Number of Attendance Devices: {}\n".format(len(devices)))
for i, device in enumerate(devices):
    print("{}: Device IP: {}, Port: {}, Location: {}".format(i+1, device.ip, device.port, device.location))

Number of Attendance Devices: 8

1: Device IP: 0.0.0.1, Port: 80, Location: demo_1
2: Device IP: 0.0.0.2, Port: 80, Location: demo_2
3: Device IP: 0.0.0.0, Port: 80, Location: FKAB DK1
4: Device IP: 0.0.0.3, Port: 80, Location: FKAB DK6
5: Device IP: 0.0.0.4, Port: 80, Location: FKAB DK2
6: Device IP: 0.0.0.5, Port: 80, Location: FKAB BS5
7: Device IP: 0.0.0.6, Port: 80, Location: FKAB BS1
8: Device IP: 0.0.0.7, Port: 80, Location: FKAB ASTMK1